*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
height: 100%; /* Высота страницы */     
}

/* свойства для заголовка*/
h1{ 
text-align:center;
background-color: #FFEBCD; 
margin-bottom:-80px;
margin-top:50px;
padding-top:10px;
padding-bottom:10px;
font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
background-image: url('http://www.rosphoto.com/images/u/articles/1605/6-tim-verbrugghe.jpg'); background-size: 100%;
}

/*Свойства меню*/  
#nav{ 
    float:left;
    margin-top: 0,1px;
	margin-left: 10%;
    width:60px;
    list-style: none;
    font-weight: bold;
	text-align: center;
	padding-top:10px;
    padding-bottom:10px;
	padding-left: 1px;
    padding-right: 0px;
    border: none;
}

#nav li{
    
    float: left;
    /* Делаем элементы блочными. */
    display: block;
    /* Позиционирование относительно исходного места */
    position: relative;
}


/* настройка выпадающего списка*/
#nav ul{
    /* Убираем маркеры у выпадающего списка*/
    list-style:none;
    left:-9999px; /* убираем элементы за пределы программы*/
	opacity:0; /* При помощи прозрачности, скрываем <ul>. */
    
    /* Обрабатываем всплывающие элементы выпадающего списка при наведении мышки. */
	-webkit-transition: 0.8s linear opacity; 
    position:absolute;
}

/*Настройка элементов списка*/
#nav ul li{
    padding-top: 1px; 
    float: none;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:block;
    /* Запрет переноса строки текста на новую строки */
    white-space: nowrap; 
}

/*Свойства для ссылок*/
a{
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;

}
/*Наведение мыши на меню*/
#nav li:hover ul{ /* Создаю выпадающий пункт, который появится при наведении. */
    left:0; /* Возвращение элементов обратно на экран пользователя */
    opacity:1; /* Убирается прозрачность*/
}

#nav li:hover a{ 
    background:#024e19;
    /* Убераем форматирование*/
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.077s linear;
}

#nav li:hover ul li a:hover{ /* Здесь я задаю стили для конкретных выпадающих пунктов, при наведении на них курсора — чтобы они отличались от тех элементов, куда курсор не попадает*/
    -moz-transform:scale(1.07);
    -webkit-transform:scale(1.07);
    /* Задам цвет фона выпадающего элемента*/
    background:#334;
    background:rgba(50,50,50,0.4); /* Сделаю полупрозрачным. */
    text-decoration:underline;
}







